[submodule "lib/common_lib"]
	path = lib/common_lib
	url = git@192.168.10.30:Algorithm4/commons/common_lib.git
[submodule "lib/detector"]
	path = lib/detector
	url = git@192.168.10.30:Algorithm4/Programs/Bearing/modules/ocrA_13_lib/detector.git
